@{
  Layout = "_Layout";
}

<h2>Welcome to the Hair Salon!</h2>
<button type="button" class="btn btn-primary" onclick="window.location.href = '/Stylists'">See all Stylists</button>
<button type="button" class="btn btn-info" onclick="window.location.href = '/Clients'">See all Clients</button>
